*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: blueviolet;
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#grid-container{
    --size:4;
    height: 800px;
    display: grid;
    grid-template-columns: repeat(var(--size),1fr);
    grid-template-rows: repeat(var(--size),1fr);
    width: 800px;
    margin: 3rem;
}

.cell{
    background-color: white;
    border: 1px solid black;
    
}